.table {
  border-top: 1px double black;
}
.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}
.cell {
  border-left: 1px solid black;
  align-content: center;
  justify-content: center;
  min-width: 25%;
}
.fullRow {
  border: 1px solid black;
  text-align: center;
}
